# Global patterns
*.swp
.DS_Store
nimcache/

# Full paths.
/LICENSE.html
/README.html
/alchemy
/alchemy.html
/compressed_ouroboros
/docindex.html
/docs/CHANGES.html
/docs/file_format.html
/docs/release_steps.html
/nakefile
/ouroboros
/ouroboros.html
/test.dat
/tests/1/
