/.DS_Store
/LICENSE.html
/LICENSE.rst
/README.html
/README.rst
/alchemy
/alchemy.html
/alchemy.nim
/docindex.html
/docindex.rst
/docs/
/nakefile
/nakefile.nim
/nimcache/
/ouroboros
/ouroboros.babel
/ouroboros.html
/ouroboros.nim
/test.dat
/tests/
